.Nav{
    // margin-left: -10px;
    // margin-right: -10px;

    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li{
            margin: 10px;

            a{
                letter-spacing: 2px;
                font-size: 15px;
                position: relative;
                display: inline-block;
                text-decoration: none;
                // background-color: #d1c4e9;
                background-color: #7e57c2;
                background-color: #212121;
                background-color: #263238;
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
                overflow: hidden;
                
                &:before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -60%;
                    width: 35px;
                    height: 100%;
                    background-color: rgba(253,253,253, 0.8);
                    filter: blur(10px);
                    // transform: translateX(-175%) skewX(-45deg);
                    transform: skewX(-45deg);
                }
                    
                &:hover{
                    
                    &:before{
                        animation: move_light 1s, all ease;
                    }
                }
                    
            }
        }
    }
}

@keyframes move_light{
  from{
    left: -60%;
    // transform: translateX(-175%) skewX(-45deg);
  }
  to{
    left: 130%;
    // transform: translateX(1000%) skewX(-45deg)
  }
}